In [1]:
import pandas as pd

In [2]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [3]:
df = pd.read_csv(r'F:\GUVI_DATA_SCIENCE\Project\Financial_Risk_Detection\Datasets\application_data.csv')

##### **Application Data**

In [4]:
df.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,351000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.018801,-9461,-637,-3648.0,-2120,NaN,1,1,0,1,1,0,Laborers,1.0,2,2,WEDNESDAY,10,0,0,0,0,0,0,Business Entity Type 3,0.083037,0.262949,0.139376,0.0247,0.0369,0.9722,0.6192,0.0143,0.00,0.0690,0.0833,0.1250,0.0369,0.0202,0.0190,0.0000,0.0000,0.0252,0.0383,0.9722,0.6341,0.0144,0.0000,0.0690,0.0833,0.1250,0.0377,0.022,0.0198,0.0,0.0,0.0250,0.0369,0.9722,0.6243,0.0144,0.00,0.0690,0.0833,0.1250,0.0375,0.0205,0.0193,0.0000,0.00,reg oper account,block of flats,0.0149,"Stone, brick",No,2.0,2.0,2.0,2.0,-1134.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,Family,State servant,Higher education,Married,House / apartment,0.003541,-16765,-1188,-1186.0,-291,NaN,1,1,0,1,1,0,Core staff,2.0,1,1,MONDAY,11,0,0,0,0,0,0,School,0.311267,0.622246,NaN,0.0959,0.0529,0.9851,0.7960,0.0605,0.08,0.0345,0.2917,0.3333,0.0130,0.0773,0.0549,0.0039,0.0098,0.0924,0.0538,0.9851,0.8040,0.0497,0.0806,0.0345,0.2917,0.3333,0.0128,0.079,0.0554,0.0,0.0,0.0968,0.0529,0.9851,0.7987,0.0608,0.08,0.0345,0.2917,0.3333,0.0132,0.0787,0.0558,0.0039,0.01,reg oper account,block of flats,0.0714,Block,No,1.0,0.0,1.0,0.0,-828.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,135000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.010032,-19046,-225,-4260.0,-2531,26.0,1,1,1,1,1,0,Laborers,1.0,2,2,MONDAY,9,0,0,0,0,0,0,Government,NaN,0.555912,0.729567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-815.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,297000.0,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,0.008019,-19005,-3039,-9833.0,-2437,NaN,1,1,0,1,0,0,Laborers,2.0,2,2,WEDNESDAY,17,0,0,0,0,0,0,Business Entity Type 3,NaN,0.650442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,2.0,0.0,-617.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,513000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.028663,-19932,-3038,-4311.0,-3458,NaN,1,1,0,1,0,0,Core staff,1.0,2,2,THURSDAY,11,0,0,0,0,1,1,Religion,NaN,0.322738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-1106.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
df.shape

(307511, 122)

In [6]:
df.isnull().sum()

SK_ID_CURR                           0
TARGET                               0
NAME_CONTRACT_TYPE                   0
CODE_GENDER                          0
FLAG_OWN_CAR                         0
FLAG_OWN_REALTY                      0
CNT_CHILDREN                         0
AMT_INCOME_TOTAL                     0
AMT_CREDIT                           0
AMT_ANNUITY                         12
AMT_GOODS_PRICE                    278
NAME_TYPE_SUITE                   1292
NAME_INCOME_TYPE                     0
NAME_EDUCATION_TYPE                  0
NAME_FAMILY_STATUS                   0
NAME_HOUSING_TYPE                    0
REGION_POPULATION_RELATIVE           0
DAYS_BIRTH                           0
DAYS_EMPLOYED                        0
DAYS_REGISTRATION                    0
DAYS_ID_PUBLISH                      0
OWN_CAR_AGE                     202929
FLAG_MOBIL                           0
FLAG_EMP_PHONE                       0
FLAG_WORK_PHONE                      0
FLAG_CONT_MOBILE                     0
FLAG_PHONE                           0
FLAG_EMAIL                           0
OCCUPATION_TYPE                  96391
CNT_FAM_MEMBERS                      2
REGION_RATING_CLIENT                 0
REGION_RATING_CLIENT_W_CITY          0
WEEKDAY_APPR_PROCESS_START           0
HOUR_APPR_PROCESS_START              0
REG_REGION_NOT_LIVE_REGION           0
REG_REGION_NOT_WORK_REGION           0
LIVE_REGION_NOT_WORK_REGION          0
REG_CITY_NOT_LIVE_CITY               0
REG_CITY_NOT_WORK_CITY               0
LIVE_CITY_NOT_WORK_CITY              0
ORGANIZATION_TYPE                    0
EXT_SOURCE_1                    173378
EXT_SOURCE_2                       660
EXT_SOURCE_3                     60965
APARTMENTS_AVG                  156061
BASEMENTAREA_AVG                179943
YEARS_BEGINEXPLUATATION_AVG     150007
YEARS_BUILD_AVG                 204488
COMMONAREA_AVG                  214865
ELEVATORS_AVG                   163891
ENTRANCES_AVG                   154828
FLOORSMAX_AVG                   153020
FLOORSMIN_AVG                   208642
LANDAREA_AVG                    182590
LIVINGAPARTMENTS_AVG            210199
LIVINGAREA_AVG                  154350
NONLIVINGAPARTMENTS_AVG         213514
NONLIVINGAREA_AVG               169682
APARTMENTS_MODE                 156061
BASEMENTAREA_MODE               179943
YEARS_BEGINEXPLUATATION_MODE    150007
YEARS_BUILD_MODE                204488
COMMONAREA_MODE                 214865
ELEVATORS_MODE                  163891
ENTRANCES_MODE                  154828
FLOORSMAX_MODE                  153020
FLOORSMIN_MODE                  208642
LANDAREA_MODE                   182590
LIVINGAPARTMENTS_MODE           210199
LIVINGAREA_MODE                 154350
NONLIVINGAPARTMENTS_MODE        213514
NONLIVINGAREA_MODE              169682
APARTMENTS_MEDI                 156061
BASEMENTAREA_MEDI               179943
YEARS_BEGINEXPLUATATION_MEDI    150007
YEARS_BUILD_MEDI                204488
COMMONAREA_MEDI                 214865
ELEVATORS_MEDI                  163891
ENTRANCES_MEDI                  154828
FLOORSMAX_MEDI                  153020
FLOORSMIN_MEDI                  208642
LANDAREA_MEDI                   182590
LIVINGAPARTMENTS_MEDI           210199
LIVINGAREA_MEDI                 154350
NONLIVINGAPARTMENTS_MEDI        213514
NONLIVINGAREA_MEDI              169682
FONDKAPREMONT_MODE              210295
HOUSETYPE_MODE                  154297
TOTALAREA_MODE                  148431
WALLSMATERIAL_MODE              156341
EMERGENCYSTATE_MODE             145755
OBS_30_CNT_SOCIAL_CIRCLE          1021
DEF_30_CNT_SOCIAL_CIRCLE          1021
OBS_60_CNT_SOCIAL_CIRCLE          1021
DEF_60_CNT_SOCIAL_CIRCLE          1021
DAYS_LAST_PHONE_CHANGE               1
FLAG_DOCUMENT_2                      0
FLAG_DOCUMENT_3                      0
FLAG_DOCUMENT_4                      0
FLAG_DOCUMENT_5                      0
FLAG_DOCUMENT_6                      0
FLAG_DOCUMENT_7                      0
FLAG_DOCUMENT_8                      0
FLAG_DOCUMENT_9                      0
FLAG_DOCUMENT_10                     0
FLAG_DOCUMENT_11                     0
FLAG_DOCUMENT_12                     0
FLAG_DOCUMENT_13                     0
FLAG_DOCUMENT_14                     0
FLAG_DOCUMENT_15                     0
FLAG_DOCUMENT_16                     0
FLAG_DOCUMENT_17                     0
FLAG_DOCUMENT_18                     0
FLAG_DOCUMENT_19                     0
FLAG_DOCUMENT_20                     0
FLAG_DOCUMENT_21                     0
AMT_REQ_CREDIT_BUREAU_HOUR       41519
AMT_REQ_CREDIT_BUREAU_DAY        41519
AMT_REQ_CREDIT_BUREAU_WEEK       41519
AMT_REQ_CREDIT_BUREAU_MON        41519
AMT_REQ_CREDIT_BUREAU_QRT        41519
AMT_REQ_CREDIT_BUREAU_YEAR       41519
dtype: int64

In [7]:
columns = df.columns

In [8]:
for column in columns:
    print(df[column].info())
    print('-----------------------------------------------------------------------')

<class 'pandas.core.series.Series'>
RangeIndex: 307511 entries, 0 to 307510
Series name: SK_ID_CURR
Non-Null Count   Dtype
--------------   -----
307511 non-null  int64
dtypes: int64(1)
memory usage: 2.3 MB
None
-----------------------------------------------------------------------
<class 'pandas.core.series.Series'>
RangeIndex: 307511 entries, 0 to 307510
Series name: TARGET
Non-Null Count   Dtype
--------------   -----
307511 non-null  int64
dtypes: int64(1)
memory usage: 2.3 MB
None
-----------------------------------------------------------------------
<class 'pandas.core.series.Series'>
RangeIndex: 307511 entries, 0 to 307510
Series name: NAME_CONTRACT_TYPE
Non-Null Count   Dtype
--------------   -----
307511 non-null  object
dtypes: object(1)
memory usage: 2.3+ MB
None
-----------------------------------------------------------------------
<class 'pandas.core.series.Series'>
RangeIndex: 307511 entries, 0 to 307510
Series name: CODE_GENDER
Non-Null Count   Dtype
--------------   -----
307511 non-null  object
dtypes: object(1)
memory usage: 2.3+ MB
None
-----------------------------------------------------------------------
<class 'pandas.core.series.Series'>
RangeIndex: 307511 entries, 0 to 307510
Series name: FLAG_OWN_CAR
Non-Null Count   Dtype
--------------   -----
307511 non-null  object
dtypes: object(1)
memory usage: 2.3+ MB
None
-----------------------------------------------------------------------
<class 'pandas.core.series.Series'>
RangeIndex: 307511 entries, 0 to 307510
Series name: FLAG_OWN_REALTY
Non-Null Count   Dtype
--------------   -----
307511 non-null  object
dtypes: object(1)
memory usage: 2.3+ MB
None
-----------------------------------------------------------------------
<class 'pandas.core.series.Series'>
RangeIndex: 307511 entries, 0 to 307510
Series name: CNT_CHILDREN
Non-Null Count   Dtype
--------------   -----
307511 non-null  int64
dtypes: int64(1)
memory usage: 2.3 MB
None
-----------------------------------------------------------------------
<class 'pandas.core.series.Series'>
RangeIndex: 307511 entries, 0 to 307510
Series name: AMT_INCOME_TOTAL
Non-Null Count   Dtype
--------------   -----
307511 non-null  float64
dtypes: float64(1)
memory usage: 2.3 MB
None
-----------------------------------------------------------------------
<class 'pandas.core.series.Series'>
RangeIndex: 307511 entries, 0 to 307510
Series name: AMT_CREDIT
Non-Null Count   Dtype
--------------   -----
307511 non-null  float64
dtypes: float64(1)
memory usage: 2.3 MB
None
-----------------------------------------------------------------------
<class 'pandas.core.series.Series'>
RangeIndex: 307511 entries, 0 to 307510
Series name: AMT_ANNUITY
Non-Null Count   Dtype
--------------   -----
307499 non-null  float64
dtypes: float64(1)
memory usage: 2.3 MB
None
-----------------------------------------------------------------------
<class 'pandas.core.series.Series'>
RangeIndex: 307511 entries, 0 to 307510
Series name: AMT_GOODS_PRICE
Non-Null Count   Dtype
--------------   -----
307233 non-null  float64
dtypes: float64(1)
memory usage: 2.3 MB
None
-----------------------------------------------------------------------
<class 'pandas.core.series.Series'>
RangeIndex: 307511 entries, 0 to 307510
Series name: NAME_TYPE_SUITE
Non-Null Count   Dtype
--------------   -----
306219 non-null  object
dtypes: object(1)
memory usage: 2.3+ MB
None
-----------------------------------------------------------------------
<class 'pandas.core.series.Series'>
RangeIndex: 307511 entries, 0 to 307510
Series name: NAME_INCOME_TYPE
Non-Null Count   Dtype
--------------   -----
307511 non-null  object
dtypes: object(1)
memory usage: 2.3+ MB
None
-----------------------------------------------------------------------
<class 'pandas.core.series.Series'>
RangeIndex: 307511 entries, 0 to 307510
Series name: NAME_EDUCATION_TYPE
Non-Null Count   Dtype
--------------   -----
307511 non-null  object
dtypes: object(1)
memory usage: 2.3+ MB
None
-----------------------------------------------------------------------
<class 'pandas.core.series.Series'>
RangeIndex: 307511 entries, 0 to 307510
Series name: NAME_FAMILY_STATUS
Non-Null Count   Dtype
--------------   -----
307511 non-null  object
dtypes: object(1)
memory usage: 2.3+ MB
None
-----------------------------------------------------------------------
<class 'pandas.core.series.Series'>
RangeIndex: 307511 entries, 0 to 307510
Series name: NAME_HOUSING_TYPE
Non-Null Count   Dtype
--------------   -----
307511 non-null  object
dtypes: object(1)
memory usage: 2.3+ MB
None
-----------------------------------------------------------------------
<class 'pandas.core.series.Series'>
RangeIndex: 307511 entries, 0 to 307510
Series name: REGION_POPULATION_RELATIVE
Non-Null Count   Dtype
--------------   -----
307511 non-null  float64
dtypes: float64(1)
memory usage: 2.3 MB
None
-----------------------------------------------------------------------
<class 'pandas.core.series.Series'>
RangeIndex: 307511 entries, 0 to 307510
Series name: DAYS_BIRTH
Non-Null Count   Dtype
--------------   -----
307511 non-null  int64
dtypes: int64(1)
memory usage: 2.3 MB
None
-----------------------------------------------------------------------
<class 'pandas.core.series.Series'>
RangeIndex: 307511 entries, 0 to 307510
Series name: DAYS_EMPLOYED
Non-Null Count   Dtype
--------------   -----
307511 non-null  int64
dtypes: int64(1)
memory usage: 2.3 MB
None
-----------------------------------------------------------------------
<class 'pandas.core.series.Series'>
RangeIndex: 307511 entries, 0 to 307510
Series name: DAYS_REGISTRATION
Non-Null Count   Dtype
--------------   -----
307511 non-null  float64
dtypes: float64(1)
memory usage: 2.3 MB
None
-----------------------------------------------------------------------
<class 'pandas.core.series.Series'>
RangeIndex: 307511 entries, 0 to 307510
Series name: DAYS_ID_PUBLISH
Non-Null Count   Dtype
--------------   -----
307511 non-null  int64
dtypes: int64(1)
memory usage: 2.3 MB
None
-----------------------------------------------------------------------
<class 'pandas.core.series.Series'>
RangeIndex: 307511 entries, 0 to 307510
Series name: OWN_CAR_AGE
Non-Null Count   Dtype
--------------   -----
104582 non-null  float64
dtypes: float64(1)
memory usage: 2.3 MB
None
-----------------------------------------------------------------------
<class 'pandas.core.series.Series'>
RangeIndex: 307511 entries, 0 to 307510
Series name: FLAG_MOBIL
Non-Null Count   Dtype
--------------   -----
307511 non-null  int64
dtypes: int64(1)
memory usage: 2.3 MB
None
-----------------------------------------------------------------------
<class 'pandas.core.series.Series'>
RangeIndex: 307511 entries, 0 to 307510
Series name: FLAG_EMP_PHONE
Non-Null Count   Dtype
--------------   -----
307511 non-null  int64
dtypes: int64(1)
memory usage: 2.3 MB
None
-----------------------------------------------------------------------
<class 'pandas.core.series.Series'>
RangeIndex: 307511 entries, 0 to 307510
Series name: FLAG_WORK_PHONE
Non-Null Count   Dtype
--------------   -----
307511 non-null  int64
dtypes: int64(1)
memory usage: 2.3 MB
None
-----------------------------------------------------------------------
<class 'pandas.core.series.Series'>
RangeIndex: 307511 entries, 0 to 307510
Series name: FLAG_CONT_MOBILE
Non-Null Count   Dtype
--------------   -----
307511 non-null  int64
dtypes: int64(1)
memory usage: 2.3 MB
None
-----------------------------------------------------------------------
<class 'pandas.core.series.Series'>
RangeIndex: 307511 entries, 0 to 307510
Series name: FLAG_PHONE
Non-Null Count   Dtype
--------------   -----
307511 non-null  int64
dtypes: int64(1)
memory usage: 2.3 MB
None
-----------------------------------------------------------------------
<class 'pandas.core.series.Series'>
RangeIndex: 307511 entries, 0 to 307510
Series name: FLAG_EMAIL
Non-Null Count   Dtype
--------------   -----
307511 non-null  int64
dtypes: int64(1)
memory usage: 2.3 MB
None
-----------------------------------------------------------------------
<class 'pandas.core.series.Series'>
RangeIndex: 307511 entries, 0 to 307510
Series name: OCCUPATION_TYPE
Non-Null Count   Dtype
--------------   -----
211120 non-null  object
dtypes: object(1)
memory usage: 2.3+ MB
None
-----------------------------------------------------------------------
<class 'pandas.core.series.Series'>
RangeIndex: 307511 entries, 0 to 307510
Series name: CNT_FAM_MEMBERS
Non-Null Count   Dtype
--------------   -----
307509 non-null  float64
dtypes: float64(1)
memory usage: 2.3 MB
None
-----------------------------------------------------------------------
<class 'pandas.core.series.Series'>
RangeIndex: 307511 entries, 0 to 307510
Series name: REGION_RATING_CLIENT
Non-Null Count   Dtype
--------------   -----
307511 non-null  int64
dtypes: int64(1)
memory usage: 2.3 MB
None
-----------------------------------------------------------------------
<class 'pandas.core.series.Series'>
RangeIndex: 307511 entries, 0 to 307510
Series name: REGION_RATING_CLIENT_W_CITY
Non-Null Count   Dtype
--------------   -----
307511 non-null  int64
dtypes: int64(1)
memory usage: 2.3 MB
None
-----------------------------------------------------------------------
<class 'pandas.core.series.Series'>
RangeIndex: 307511 entries, 0 to 307510
Series name: WEEKDAY_APPR_PROCESS_START
Non-Null Count   Dtype
--------------   -----
307511 non-null  object
dtypes: object(1)
memory usage: 2.3+ MB
None
-----------------------------------------------------------------------
<class 'pandas.core.series.Series'>
RangeIndex: 307511 entries, 0 to 307510
Series name: HOUR_APPR_PROCESS_START
Non-Null Count   Dtype
--------------   -----
307511 non-null  int64
dtypes: int64(1)
memory usage: 2.3 MB
None
-----------------------------------------------------------------------
<class 'pandas.core.series.Series'>
RangeIndex: 307511 entries, 0 to 307510
Series name: REG_REGION_NOT_LIVE_REGION
Non-Null Count   Dtype
--------------   -----
307511 non-null  int64
dtypes: int64(1)
memory usage: 2.3 MB
None
-----------------------------------------------------------------------
<class 'pandas.core.series.Series'>
RangeIndex: 307511 entries, 0 to 307510
Series name: REG_REGION_NOT_WORK_REGION
Non-Null Count   Dtype
--------------   -----
307511 non-null  int64
dtypes: int64(1)
memory usage: 2.3 MB
None
-----------------------------------------------------------------------
<class 'pandas.core.series.Series'>
RangeIndex: 307511 entries, 0 to 307510
Series name: LIVE_REGION_NOT_WORK_REGION
Non-Null Count   Dtype
--------------   -----
307511 non-null  int64
dtypes: int64(1)
memory usage: 2.3 MB
None
-----------------------------------------------------------------------
<class 'pandas.core.series.Series'>
RangeIndex: 307511 entries, 0 to 307510
Series name: REG_CITY_NOT_LIVE_CITY
Non-Null Count   Dtype
--------------   -----
307511 non-null  int64
dtypes: int64(1)
memory usage: 2.3 MB
None
-----------------------------------------------------------------------
<class 'pandas.core.series.Series'>
RangeIndex: 307511 entries, 0 to 307510
Series name: REG_CITY_NOT_WORK_CITY
Non-Null Count   Dtype
--------------   -----
307511 non-null  int64
dtypes: int64(1)
memory usage: 2.3 MB
None
-----------------------------------------------------------------------
<class 'pandas.core.series.Series'>
RangeIndex: 307511 entries, 0 to 307510
Series name: LIVE_CITY_NOT_WORK_CITY
Non-Null Count   Dtype
--------------   -----
307511 non-null  int64
dtypes: int64(1)
memory usage: 2.3 MB
None
-----------------------------------------------------------------------
<class 'pandas.core.series.Series'>
RangeIndex: 307511 entries, 0 to 307510
Series name: ORGANIZATION_TYPE
Non-Null Count   Dtype
--------------   -----
307511 non-null  object
dtypes: object(1)
memory usage: 2.3+ MB
None
-----------------------------------------------------------------------
<class 'pandas.core.series.Series'>
RangeIndex: 307511 entries, 0 to 307510
Series name: EXT_SOURCE_1
Non-Null Count   Dtype
--------------   -----
134133 non-null  float64
dtypes: float64(1)
memory usage: 2.3 MB
None
-----------------------------------------------------------------------
<class 'pandas.core.series.Series'>
RangeIndex: 307511 entries, 0 to 307510
Series name: EXT_SOURCE_2
Non-Null Count   Dtype
--------------   -----
306851 non-null  float64
dtypes: float64(1)
memory usage: 2.3 MB
None
-----------------------------------------------------------------------
<class 'pandas.core.series.Series'>
RangeIndex: 307511 entries, 0 to 307510
Series name: EXT_SOURCE_3
Non-Null Count   Dtype
--------------   -----
246546 non-null  float64
dtypes: float64(1)
memory usage: 2.3 MB
None
-----------------------------------------------------------------------
<class 'pandas.core.series.Series'>
RangeIndex: 307511 entries, 0 to 307510
Series name: APARTMENTS_AVG
Non-Null Count   Dtype
--------------   -----
151450 non-null  float64
dtypes: float64(1)
memory usage: 2.3 MB
None
-----------------------------------------------------------------------
<class 'pandas.core.series.Series'>
RangeIndex: 307511 entries, 0 to 307510
Series name: BASEMENTAREA_AVG
Non-Null Count   Dtype
--------------   -----
127568 non-null  float64
dtypes: float64(1)
memory usage: 2.3 MB
None
-----------------------------------------------------------------------
<class 'pandas.core.series.Series'>
RangeIndex: 307511 entries, 0 to 307510
Series name: YEARS_BEGINEXPLUATATION_AVG
Non-Null Count   Dtype
--------------   -----
157504 non-null  float64
dtypes: float64(1)
memory usage: 2.3 MB
None
-----------------------------------------------------------------------
<class 'pandas.core.series.Series'>
RangeIndex: 307511 entries, 0 to 307510
Series name: YEARS_BUILD_AVG
Non-Null Count   Dtype
--------------   -----
103023 non-null  float64
dtypes: float64(1)
memory usage: 2.3 MB
None
-----------------------------------------------------------------------
<class 'pandas.core.series.Series'>
RangeIndex: 307511 entries, 0 to 307510
Series name: COMMONAREA_AVG
Non-Null Count  Dtype
--------------  -----
92646 non-null  float64
dtypes: float64(1)
memory usage: 2.3 MB
None
-----------------------------------------------------------------------
<class 'pandas.core.series.Series'>
RangeIndex: 307511 entries, 0 to 307510
Series name: ELEVATORS_AVG
Non-Null Count   Dtype
--------------   -----
143620 non-null  float64
dtypes: float64(1)
memory usage: 2.3 MB
None
-----------------------------------------------------------------------
<class 'pandas.core.series.Series'>
RangeIndex: 307511 entries, 0 to 307510
Series name: ENTRANCES_AVG
Non-Null Count   Dtype
--------------   -----
152683 non-null  float64
dtypes: float64(1)
memory usage: 2.3 MB
None
-----------------------------------------------------------------------
<class 'pandas.core.series.Series'>
RangeIndex: 307511 entries, 0 to 307510
Series name: FLOORSMAX_AVG
Non-Null Count   Dtype
--------------   -----
154491 non-null  float64
dtypes: float64(1)
memory usage: 2.3 MB
None
-----------------------------------------------------------------------
<class 'pandas.core.series.Series'>
RangeIndex: 307511 entries, 0 to 307510
Series name: FLOORSMIN_AVG
Non-Null Count  Dtype
--------------  -----
98869 non-null  float64
dtypes: float64(1)
memory usage: 2.3 MB
None
-----------------------------------------------------------------------
<class 'pandas.core.series.Series'>
RangeIndex: 307511 entries, 0 to 307510
Series name: LANDAREA_AVG
Non-Null Count   Dtype
--------------   -----
124921 non-null  float64
dtypes: float64(1)
memory usage: 2.3 MB
None
-----------------------------------------------------------------------
<class 'pandas.core.series.Series'>
RangeIndex: 307511 entries, 0 to 307510
Series name: LIVINGAPARTMENTS_AVG
Non-Null Count  Dtype
--------------  -----
97312 non-null  float64
dtypes: float64(1)
memory usage: 2.3 MB
None
-----------------------------------------------------------------------
<class 'pandas.core.series.Series'>
RangeIndex: 307511 entries, 0 to 307510
Series name: LIVINGAREA_AVG
Non-Null Count   Dtype
--------------   -----
153161 non-null  float64
dtypes: float64(1)
memory usage: 2.3 MB
None
-----------------------------------------------------------------------
<class 'pandas.core.series.Series'>
RangeIndex: 307511 entries, 0 to 307510
Series name: NONLIVINGAPARTMENTS_AVG
Non-Null Count  Dtype
--------------  -----
93997 non-null  float64
dtypes: float64(1)
memory usage: 2.3 MB
None
-----------------------------------------------------------------------
<class 'pandas.core.series.Series'>
RangeIndex: 307511 entries, 0 to 307510
Series name: NONLIVINGAREA_AVG
Non-Null Count   Dtype
--------------   -----
137829 non-null  float64
dtypes: float64(1)
memory usage: 2.3 MB
None
-----------------------------------------------------------------------
<class 'pandas.core.series.Series'>
RangeIndex: 307511 entries, 0 to 307510
Series name: APARTMENTS_MODE
Non-Null Count   Dtype
--------------   -----
151450 non-null  float64
dtypes: float64(1)
memory usage: 2.3 MB
None
-----------------------------------------------------------------------
<class 'pandas.core.series.Series'>
RangeIndex: 307511 entries, 0 to 307510
Series name: BASEMENTAREA_MODE
Non-Null Count   Dtype
--------------   -----
127568 non-null  float64
dtypes: float64(1)
memory usage: 2.3 MB
None
-----------------------------------------------------------------------
<class 'pandas.core.series.Series'>
RangeIndex: 307511 entries, 0 to 307510
Series name: YEARS_BEGINEXPLUATATION_MODE
Non-Null Count   Dtype
--------------   -----
157504 non-null  float64
dtypes: float64(1)
memory usage: 2.3 MB
None
-----------------------------------------------------------------------
<class 'pandas.core.series.Series'>
RangeIndex: 307511 entries, 0 to 307510
Series name: YEARS_BUILD_MODE
Non-Null Count   Dtype
--------------   -----
103023 non-null  float64
dtypes: float64(1)
memory usage: 2.3 MB
None
-----------------------------------------------------------------------
<class 'pandas.core.series.Series'>
RangeIndex: 307511 entries, 0 to 307510
Series name: COMMONAREA_MODE
Non-Null Count  Dtype
--------------  -----
92646 non-null  float64
dtypes: float64(1)
memory usage: 2.3 MB
None
-----------------------------------------------------------------------
<class 'pandas.core.series.Series'>
RangeIndex: 307511 entries, 0 to 307510
Series name: ELEVATORS_MODE
Non-Null Count   Dtype
--------------   -----
143620 non-null  float64
dtypes: float64(1)
memory usage: 2.3 MB
None
-----------------------------------------------------------------------
<class 'pandas.core.series.Series'>
RangeIndex: 307511 entries, 0 to 307510
Series name: ENTRANCES_MODE
Non-Null Count   Dtype
--------------   -----
152683 non-null  float64
dtypes: float64(1)
memory usage: 2.3 MB
None
-----------------------------------------------------------------------
<class 'pandas.core.series.Series'>
RangeIndex: 307511 entries, 0 to 307510
Series name: FLOORSMAX_MODE
Non-Null Count   Dtype
--------------   -----
154491 non-null  float64
dtypes: float64(1)
memory usage: 2.3 MB
None
-----------------------------------------------------------------------
<class 'pandas.core.series.Series'>
RangeIndex: 307511 entries, 0 to 307510
Series name: FLOORSMIN_MODE
Non-Null Count  Dtype
--------------  -----
98869 non-null  float64
dtypes: float64(1)
memory usage: 2.3 MB
None
-----------------------------------------------------------------------
<class 'pandas.core.series.Series'>
RangeIndex: 307511 entries, 0 to 307510
Series name: LANDAREA_MODE
Non-Null Count   Dtype
--------------   -----
124921 non-null  float64
dtypes: float64(1)
memory usage: 2.3 MB
None
-----------------------------------------------------------------------
<class 'pandas.core.series.Series'>
RangeIndex: 307511 entries, 0 to 307510
Series name: LIVINGAPARTMENTS_MODE

---

##### **Dropping Columns having high null values**

In [9]:
new_df = df.drop(['OWN_CAR_AGE', 'OCCUPATION_TYPE', 'EXT_SOURCE_1', 'EXT_SOURCE_3', 'APARTMENTS_AVG', 'BASEMENTAREA_AVG', 'YEARS_BEGINEXPLUATATION_AVG', 'YEARS_BUILD_AVG', 'COMMONAREA_AVG', 'ELEVATORS_AVG', 'ENTRANCES_AVG', 'FLOORSMAX_AVG', 'FLOORSMIN_AVG', 'LANDAREA_AVG', 'LIVINGAPARTMENTS_AVG', 'LIVINGAREA_AVG', 'NONLIVINGAPARTMENTS_AVG', 'NONLIVINGAREA_AVG', 'APARTMENTS_MODE', 'BASEMENTAREA_MODE', 'YEARS_BEGINEXPLUATATION_MODE', 'YEARS_BUILD_MODE', 'COMMONAREA_MODE', 'ELEVATORS_MODE', 'ENTRANCES_MODE', 'FLOORSMAX_MODE', 'FLOORSMIN_MODE', 'LANDAREA_MODE', 'LIVINGAPARTMENTS_MODE', 'LIVINGAREA_MODE', 'NONLIVINGAPARTMENTS_MODE', 'NONLIVINGAREA_MODE', 'APARTMENTS_MEDI', 'BASEMENTAREA_MEDI', 'YEARS_BEGINEXPLUATATION_MEDI', 'YEARS_BUILD_MEDI', 'COMMONAREA_MEDI', 'ELEVATORS_MEDI', 'ENTRANCES_MEDI', 'FLOORSMAX_MEDI', 'FLOORSMIN_MEDI', 'LANDAREA_MEDI', 'LIVINGAPARTMENTS_MEDI', 'LIVINGAREA_MEDI', 'NONLIVINGAPARTMENTS_MEDI', 'NONLIVINGAREA_MEDI', 'FONDKAPREMONT_MODE', 'HOUSETYPE_MODE', 'TOTALAREA_MODE', 'WALLSMATERIAL_MODE', 'EMERGENCYSTATE_MODE', 'AMT_REQ_CREDIT_BUREAU_HOUR', 'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK', 'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT', 'AMT_REQ_CREDIT_BUREAU_YEAR', 'FLAG_MOBIL', 'FLAG_CONT_MOBILE']
, axis = 1)

In [10]:
new_df.isnull().sum()

SK_ID_CURR                        0
TARGET                            0
NAME_CONTRACT_TYPE                0
CODE_GENDER                       0
FLAG_OWN_CAR                      0
FLAG_OWN_REALTY                   0
CNT_CHILDREN                      0
AMT_INCOME_TOTAL                  0
AMT_CREDIT                        0
AMT_ANNUITY                      12
AMT_GOODS_PRICE                 278
NAME_TYPE_SUITE                1292
NAME_INCOME_TYPE                  0
NAME_EDUCATION_TYPE               0
NAME_FAMILY_STATUS                0
NAME_HOUSING_TYPE                 0
REGION_POPULATION_RELATIVE        0
DAYS_BIRTH                        0
DAYS_EMPLOYED                     0
DAYS_REGISTRATION                 0
DAYS_ID_PUBLISH                   0
FLAG_EMP_PHONE                    0
FLAG_WORK_PHONE                   0
FLAG_PHONE                        0
FLAG_EMAIL                        0
CNT_FAM_MEMBERS                   2
REGION_RATING_CLIENT              0
REGION_RATING_CLIENT_W_CITY       0
WEEKDAY_APPR_PROCESS_START        0
HOUR_APPR_PROCESS_START           0
REG_REGION_NOT_LIVE_REGION        0
REG_REGION_NOT_WORK_REGION        0
LIVE_REGION_NOT_WORK_REGION       0
REG_CITY_NOT_LIVE_CITY            0
REG_CITY_NOT_WORK_CITY            0
LIVE_CITY_NOT_WORK_CITY           0
ORGANIZATION_TYPE                 0
EXT_SOURCE_2                    660
OBS_30_CNT_SOCIAL_CIRCLE       1021
DEF_30_CNT_SOCIAL_CIRCLE       1021
OBS_60_CNT_SOCIAL_CIRCLE       1021
DEF_60_CNT_SOCIAL_CIRCLE       1021
DAYS_LAST_PHONE_CHANGE            1
FLAG_DOCUMENT_2                   0
FLAG_DOCUMENT_3                   0
FLAG_DOCUMENT_4                   0
FLAG_DOCUMENT_5                   0
FLAG_DOCUMENT_6                   0
FLAG_DOCUMENT_7                   0
FLAG_DOCUMENT_8                   0
FLAG_DOCUMENT_9                   0
FLAG_DOCUMENT_10                  0
FLAG_DOCUMENT_11                  0
FLAG_DOCUMENT_12                  0
FLAG_DOCUMENT_13                  0
FLAG_DOCUMENT_14                  0
FLAG_DOCUMENT_15                  0
FLAG_DOCUMENT_16                  0
FLAG_DOCUMENT_17                  0
FLAG_DOCUMENT_18                  0
FLAG_DOCUMENT_19                  0
FLAG_DOCUMENT_20                  0
FLAG_DOCUMENT_21                  0
dtype: int64

In [11]:
new_df = new_df.dropna(axis = 0)

In [12]:
new_df.isnull().sum()

SK_ID_CURR                     0
TARGET                         0
NAME_CONTRACT_TYPE             0
CODE_GENDER                    0
FLAG_OWN_CAR                   0
FLAG_OWN_REALTY                0
CNT_CHILDREN                   0
AMT_INCOME_TOTAL               0
AMT_CREDIT                     0
AMT_ANNUITY                    0
AMT_GOODS_PRICE                0
NAME_TYPE_SUITE                0
NAME_INCOME_TYPE               0
NAME_EDUCATION_TYPE            0
NAME_FAMILY_STATUS             0
NAME_HOUSING_TYPE              0
REGION_POPULATION_RELATIVE     0
DAYS_BIRTH                     0
DAYS_EMPLOYED                  0
DAYS_REGISTRATION              0
DAYS_ID_PUBLISH                0
FLAG_EMP_PHONE                 0
FLAG_WORK_PHONE                0
FLAG_PHONE                     0
FLAG_EMAIL                     0
CNT_FAM_MEMBERS                0
REGION_RATING_CLIENT           0
REGION_RATING_CLIENT_W_CITY    0
WEEKDAY_APPR_PROCESS_START     0
HOUR_APPR_PROCESS_START        0
REG_REGION_NOT_LIVE_REGION     0
REG_REGION_NOT_WORK_REGION     0
LIVE_REGION_NOT_WORK_REGION    0
REG_CITY_NOT_LIVE_CITY         0
REG_CITY_NOT_WORK_CITY         0
LIVE_CITY_NOT_WORK_CITY        0
ORGANIZATION_TYPE              0
EXT_SOURCE_2                   0
OBS_30_CNT_SOCIAL_CIRCLE       0
DEF_30_CNT_SOCIAL_CIRCLE       0
OBS_60_CNT_SOCIAL_CIRCLE       0
DEF_60_CNT_SOCIAL_CIRCLE       0
DAYS_LAST_PHONE_CHANGE         0
FLAG_DOCUMENT_2                0
FLAG_DOCUMENT_3                0
FLAG_DOCUMENT_4                0
FLAG_DOCUMENT_5                0
FLAG_DOCUMENT_6                0
FLAG_DOCUMENT_7                0
FLAG_DOCUMENT_8                0
FLAG_DOCUMENT_9                0
FLAG_DOCUMENT_10               0
FLAG_DOCUMENT_11               0
FLAG_DOCUMENT_12               0
FLAG_DOCUMENT_13               0
FLAG_DOCUMENT_14               0
FLAG_DOCUMENT_15               0
FLAG_DOCUMENT_16               0
FLAG_DOCUMENT_17               0
FLAG_DOCUMENT_18               0
FLAG_DOCUMENT_19               0
FLAG_DOCUMENT_20               0
FLAG_DOCUMENT_21               0
dtype: int64

In [13]:
new_df.shape

(304531, 63)

---

##### **Removing negative sign from DAYS_BIRTH, DAYS_EMPLOYED, DAYS_REGISTRATION, DAYS_ID_PUBLISH DAYS_LAST_PHONE_CHANGE columns**

In [14]:
def remove_negative(num):
    num = abs(num)
    return num

In [15]:
new_df['DAYS_BIRTH'] = new_df['DAYS_BIRTH'].apply(remove_negative)

In [16]:
new_df['DAYS_EMPLOYED'] = new_df['DAYS_EMPLOYED'].apply(remove_negative)

In [17]:
new_df['DAYS_REGISTRATION'] = new_df['DAYS_REGISTRATION'].apply(remove_negative)

In [18]:
new_df['DAYS_ID_PUBLISH'] = new_df['DAYS_ID_PUBLISH'].apply(remove_negative)

In [19]:
new_df['DAYS_LAST_PHONE_CHANGE'] = new_df['DAYS_LAST_PHONE_CHANGE'].apply(remove_negative)

---

##### **Removing Unknowns from Gender Column**

In [20]:
new_df = new_df.query("CODE_GENDER != 'XNA'")

In [21]:
new_df['CODE_GENDER'].value_counts()

CODE_GENDER
F    200482
M    104045
Name: count, dtype: int64

---

In [22]:
new_df.describe()

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,EXT_SOURCE_2,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21
count,304527.000000,304527.000000,304527.000000,3.045270e+05,3.045270e+05,304527.000000,3.045270e+05,304527.000000,304527.000000,304527.000000,304527.000000,304527.000000,304527.000000,304527.00000,304527.000000,304527.000000,304527.000000,304527.000000,304527.000000,304527.000000,304527.000000,304527.000000,304527.000000,304527.000000,304527.000000,304527.000000,3.045270e+05,304527.000000,304527.000000,304527.000000,304527.000000,304527.000000,304527.000000,304527.000000,304527.000000,304527.000000,304527.000000,304527.000000,304527.000000,304527.000000,304527.000000,304527.000000,304527.000000,304527.000000,304527.000000,304527.000000,304527.000000,304527.000000,304527.000000,304527.000000,304527.000000,304527.000000
mean,278172.577233,0.081001,0.417135,1.686632e+05,5.995619e+05,27146.463934,5.384965e+05,0.020842,16040.542481,67744.445218,4986.698950,2994.731367,0.819839,0.19972,0.281269,0.056882,2.153156,2.053325,2.032299,12.060054,0.015155,0.050675,0.040519,0.078213,0.230633,0.179711,5.142194e-01,1.422015,0.143406,1.405094,0.100054,965.331892,0.000043,0.712869,0.000082,0.014708,0.088068,0.000138,0.081671,0.003852,0.000020,0.003845,0.000007,0.003425,0.002821,0.001133,0.009447,0.000263,0.007852,0.000575,0.000496,0.000328
std,102782.490129,0.272837,0.722305,2.378925e+05,4.021472e+05,14480.165991,3.690532e+05,0.013808,4361.972393,139458.304397,3521.597752,1509.378102,0.384322,0.39979,0.449619,0.231617,0.910636,0.508891,0.502616,3.265887,0.122168,0.219334,0.197172,0.268507,0.421239,0.383948,1.911248e-01,2.401365,0.446667,2.380248,0.362318,826.946476,0.006534,0.452424,0.009060,0.120382,0.283394,0.011743,0.273863,0.061944,0.004439,0.061891,0.002563,0.058423,0.053036,0.033640,0.096738,0.016206,0.088260,0.023965,0.022262,0.018118
min,100002.000000,0.000000,0.000000,2.565000e+04,4.500000e+04,1615.500000,4.050000e+04,0.000290,7489.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.173617e-08,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,189139.500000,0.000000,0.000000,1.125000e+05,2.700000e+05,16573.500000,2.385000e+05,0.010006,12418.000000,934.000000,2012.000000,1721.000000,1.000000,0.00000,0.000000,0.000000,2.000000,2.000000,2.000000,10.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.921081e-01,0.000000,0.000000,0.000000,0.000000,276.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,278194.000000,0.000000,0.000000,1.474470e+05,5.172660e+05,24939.000000,4.500000e+05,0.018850,15755.000000,2221.000000,4505.000000,3255.000000,1.000000,0.00000,0.000000,0.000000,2.000000,2.000000,2.000000,12.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.658110e-01,0.000000,0.000000,0.000000,0.000000,761.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,367138.000000,0.000000,1.000000,2.025000e+05,8.086500e+05,34643.250000,6.795000e+05,0.028663,19682.000000,5713.500000,7478.000000,4299.000000,1.000000,0.00000,1.000000,0.000000,3.000000,2.000000,2.000000,14.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.635463e-01,2.000000,0.000000,2.000000,0.000000,1572.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,456255.000000,1.000000,19.000000,1.170000e+08,4.050000e+06,258025.500000,4.050000e+06,0.072508,25229.000000,365243.000000,24672.000000,7197.000000,1.000000,1.00000,1.000000,1.000000,20.000000,3.000000,3.000000,23.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,8.549997e-01,348.000000,34.000000,344.000000,24.000000,4292.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [23]:
new_df.duplicated().sum()

0

In [24]:
new_df.to_csv(r'F:\GUVI_DATA_SCIENCE\Project\Financial_Risk_Detection\Datasets\preprocessed_data.csv', index = False)